body {
    margin: 0;
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(images/borrowed_purple_tile.jpg);
    color: white;
    font-size: large;

    backdrop-filter: blur(10px);
}

body::-webkit-scrollbar {
    width: 0;
}

@keyframes color_change {
    0% { border-color: black; }
    25% { border-color: rgb(26, 0, 40); }
    50% { border-color: black; }
    75% { border-color: rgb(26, 0, 40); }
    100% { border-color: black; }
}

.banner img {
    width: 100vw;
    aspect-ratio: 3/1;
    border-bottom: 1vw solid black;
    animation: color_change 10s infinite;
}

.picture img {
    position: absolute;
    transform: translate(3vw, -17vw);
    width: 29vw;
    border-radius: 100vw;
    border: 1vw solid black;
    animation: color_change 10s infinite;
}

.achievements {
    height: 10vw;
    display: inline-flex;
    right: 0;
    justify-content: flex-end;
    border: 0.5vw solid black;
    animation: color_change 10s infinite;
    border-radius: 6vw;
    position: absolute;
    padding: 1vw;
    margin-right: 3vw;
    margin-top: 1vw;
}

.achievements::before {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: linear-gradient(to top, rgba(0, 0, 0, 0.5), black);
    border-radius: 5vw;
    z-index: -1; /* Place the pseudo-element behind the content */
}

.achievements img {
    height: 10vw;
    width: 10vw;
    border-radius: 100vw;
    margin-left: 1vw;
}

.achievements img:first-child {
    margin: 0;
}

.card {
    border: 0.5vw solid black;
    animation: color_change 10s infinite;
    border-radius: 3vw;
    position: relative;
    margin: 3vw;
    padding: 1vw;
}

.card::before {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: linear-gradient(to top, rgba(0, 0, 0, 0.5), black);
    border-radius: 2vw;
    z-index: -1; /* Place the pseudo-element behind the content */
}

.card h1, h2 {
    margin: 1vw;
    padding: 1vw;
}

.card p {
    margin-left: 2vw;
}

.card img {
    margin-left: 2vw;
    width: 15px;
    border-radius: 100vw;
}

.card a {
    text-decoration: none;
    color: white;
}

.spacer {
    margin-top: 16vw;
}